html {
  padding: 0;
  margin: 0;
}

body {
  background: #eae9ea;
}

.container {
  background: #ffffff !important;
  padding: 0;
}
.container .menu-class {
  background: #313643;
  justify-content: flex-end;
  padding-left: 15px;
  padding-right: 15px;
}

.container-menu ul {
  margin: 0 auto;
}
.container-menu ul li + li {
  margin-left: 10px;
}
.container-menu ul .nav-link {
  border: solid 1px #494e5b;
  color: #fff !important;
}
.container-menu ul .nav-link:hover {
  background: #404655;
}

main.banner-main {
  background: url("https://image.freepik.com/free-photo/aerial-view-business-team_53876-124515.jpg?w=826") no-repeat center center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.banner-main h1 {
  font-weight: normal;
  color: #fff;
  font-size: 50px !important;
  text-shadow: 2px 1px 1px #000;
  text-transform: uppercase;
}
main.banner-main p {
  color: #fff;
}

.section01 .col-style img {
  width: 100%;
}

.section02 .row .column .content img {
  width: 100%;
}

.section03 .banner-section03 {
  background: url("https://cdn.pixabay.com/photo/2021/09/18/12/40/pier-6635035_960_720.jpg") center center no-repeat;
  background-size: cover;
  height: 350px;
}
.section03 .banner-section03 h2 {
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
}
.section03 .colunmn-one-big .content img {
  width: 100%;
  height: 370px;
}

.section-form .banner {
  background: url("https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_960_720.jpg") center center no-repeat;
  background-size: cover;
}
.section-form .banner .row .column h2 {
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
}
.section-form .banner .row .column p {
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.section-form .banner .row .column form input {
  background: transparent;
}
.section-form .banner .row .column form input::placeholder {
  color: #fff;
}
.section-form .banner .row .column form textarea {
  max-height: 146px;
  background: transparent;
}
.section-form .banner .row .column form textarea::placeholder {
  color: #fff;
}

.footer .column {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 992px) {
  .container-menu ul li {
    margin: 0 !important;
  }
  .container-menu ul .nav-link {
    border: none;
    padding-left: 10px;
  }
}
